<div class="movie-list">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>
          <strong>Title:</strong>
          <%= @movie.title %>
        </h2>

        <p>
          <strong>Story:</strong>
          <%= @movie.story %>
        </p>

        Rate : <%= rating_for @movie, "star", :star => 10, :enable_half => true, :disable_after_rate => true %> <br>

        <% if can? :update, @movie %> <br>
            <%= link_to 'Edit', edit_movie_path(@movie), class:"btn btn-primary btn-lg" %>
        <% end %>
        <%= link_to 'Back', movies_path, class: "btn btn-primary btn-lg" %><br> <br>
      </div>
    </div>

    <div class="col-md-6">
      <div class="jumbotron">
            <h2>Trailer</h2>
          <iframe width="420" height="275"
                  src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=0">
          </iframe>
      </div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-6">
          <div class="jumbotron">
            Actors: <br><br>
              <% @actors.each do |actor| %>
                  <li class="actor_<%= actor.id %>">
                    <%= image_tag(actor.image.url, :height => "128") %><%= link_to actor.name, actor %>
                    <% if can? :update, @movie %>
                        <%= link_to 'Remove', movie_remove_actor_path(@movie, actor.id), class: "btn btn-primary btn-xs", remote: true %><br><br>
                    <% end %>
                  </li>
              <% end %>
          </div>
        </div>
      <div class="col-md-6">
        <div class="jumbotron">
            Directors:
              <% @directors.each do |director| %>
                  <li class="director_<%= director.id %>">
                    <%= image_tag(director.image.url, :height => "128") %><%= link_to director.name, director %>
                    <% if can? :update, @movie %>
                        <%= link_to 'Remove', movie_remove_director_path(@movie, director.id), class: "btn btn-primary btn-xs", remote: true %>
                    <% end %>
                  </li>
              <% end %>
        </div>
      </div>
    </div>
</div>