!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lyk2015Imdb
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          = link_to image_tag("home.png", class:"navbar-brand"), root_path
          %a.navbar-brand{:href => "/people"} People
          %a.navbar-brand{:href => "/movies"} Movies
          %a.navbar-brand{:href => "/top"} Top Movies
        %ul.nav.pull-right
          %li
            #user_nav
              - if user_signed_in?
                Signed in as #{current_user.email}. Not you?
                \#{link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn btn-danger btn-mini', style: "margin: 7px;"}
        - unless user_signed_in?
          = form_for(:user, :url => session_path(:user), :html => { :class => 'navbar-form navbar-right'}) do |f|
            = f.text_field :email, placeholder: "Email", class: "form-control"
            = f.password_field :password, placeholder: "Password", class: "form-control"
            = f.check_box :remember_me, class: "form-control"
            = f.label :remember?
            = f.submit 'Sign in', class: "btn"
            = button_to "Forgot your password?", new_password_path(:user), class: "btn"
    %p.notice= notice
    %p.alert= alert
    = yield
